.print-time-genius { visibility: hidden}
.print-time-genius:before { color: gold; content: "★"; visibility: visible; position: absolute;}
.print-time-genius-after:after { color: gold; content: "★"; visibility: visible; position: absolute;}
